{% extends "base.html" %}

{% block page_title %}{% endblock %}

{% block content %}
    <div id="video-tiles" class="d-flex"></div>
    <audio id="audio"></audio>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='amazon-chime-sdk.min.js') }}?v=2"></script>
    <script src="{{ url_for('static', filename='meeting.js') }}?v=2"></script>
    <script type="text/javascript">
        const meeting = new Meeting(
            JSON.parse('{{ meeting_response|tojson() }}'),
            JSON.parse('{{ attendee_response|tojson() }}'),
        );
        meeting.init();
    </script>
{% endblock %}